aws_region          = "ap-south-1"
project_name        = "payment-system-capgemini"
environment         = "dev"
nat_gateway_count   = 0

# EKS Configuration
eks_kubernetes_version = "1.30"
eks_node_ami_type      = "AL2023_x86_64_STANDARD"
node_instance_type     = "t3.micro"
node_desired_size      = 2
node_min_size          = 1
node_max_size          = 4

# RDS Configuration
db_instance_class          = "db.t3.micro"
db_allocated_storage       = 20
db_name                    = "payment_db"
db_username                = "postgres"
db_multi_az                = false
db_backup_retention_period = 1
skip_final_snapshot        = true
